vti_encoding:SR|utf8-nl
vti_author:SR|NEUSOFT-V4L8GVF\\廖海瀛
vti_modifiedby:SR|NEUSOFT-V4L8GVF\\廖海瀛
vti_timelastmodified:TR|07 May 2004 03:11:35 -0000
vti_timecreated:TR|06 May 2004 10:16:05 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|Sovo_03/sovojy.htm Sovo_03/vcgal.htm Sovo_03/vhhcx.htm Sovo_03/vygtdmmxg.htm Sovo_03/advice.htm Sovo_03/ad_advice.htm Sovo_03/ad_xzfzls.htm Sovo_03/ad_glfzls.htm Sovo_03/ceshi.htm Sovo_03/enews.htm Sovo_03/sfzls.htm Sovo_03/slxfs.htm Sovo_03/vygtdpxsq.htm Sovo_03/map.htm Sovo_03/ad_cxcase.htm Sovo_03/ad_xznews.htm Sovo_03/about.htm Sovo_03/ccgal.htm Sovo_03/nztbd.htm Sovo_03/vygtdjlxg.htm Sovo_03/vcase.htm Sovo_03/yqlj.htm Sovo_03/news.htm Sovo_03/sfdls.htm Sovo_03/vygtdyjfk.htm Sovo_03/noticeAdd.jsp.htm Sovo_03/sgzzd.htm Sovo_03/ad_xggonggao.htm Sovo_03/vgszd.htm Sovo_03/bottom.jsp Sovo_03/index.htm Sovo_03/vhysyd.htm Sovo_03/vcompany.htm Sovo_03/vgsjj.htm Sovo_03/vygtd.htm Sovo_03/left.htm Sovo_03/ad_lbnews.htm
vti_nexttolasttimemodified:TR|06 May 2004 10:33:19 -0000
vti_cacheddtm:TX|07 May 2004 03:11:35 -0000
vti_filesize:IR|1913
