body {
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: top;
}
.text {
	font-family: "ו";
	font-size: 14px;
	color: #FFFFFF;
}
.inputtext {
	font-family: "ו";
	font-size: 12px;
	color: #000066;
	background-color: #FFFFFF;
	border: 1px solid #000033;
}
